#env/creds
*.env
creds.py
credentials.json
token.pickle
*.docx

# datafile types
*.log
*.csv
*.xlsx
*.html
*.db
*.pdf
*.rds
.DS_Store
*.csv.zip
data/

# jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

#other
TODO.md
.vscode
